.light-mode {
  /* background color */
  --light-topbar-dark-color: #121212;
  --light-header-white: #ffffff;

  /* typography */
  --light-text-black-color: #121212;
  --light-text-white-color: #ffffff;

  /* line */
  --light-line-light-gray-color: #e5e5e5;
}
