/* STYLES DIR */
@import './styles/style.pcss';

:root {
  /* typography */
  --font-family: Spartan;
  --font-weight: normal;
  --font-size: 12px;

  /* page max-width  */
  --page-max-width: 1920px;
}

body,
html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}
