@import "./styles/styles.pcss";
@import "./Line4Design.pcss";

#root {
  display: block;
  height: 100vh;

    /* typography */
  --font-family: "NanumBarunGothic";
  --font-weight: 400;
  --font-size: 14px;
  --font-size-smaller: calc(var(--font-size) * 0.9);
  --font-size-bigger: calc(var(--font-size) * 1.1);
  --line-height: 1.2;
}

@media screen and (max-width: 768px) {}
