.title_text,
.home_pg,
.about_page,
.shop_page,
.header,
.footer,
.menu_header,
.translang_container,
.product_card_section,
.product_card_slider,
.product_card,
.line4Design_pg,
.home_pg__contents,
.about_page__contents,
.header__contents,
.menu_header__contents,
.product_card_section__contents,
.product_card__down,
.line4Design_pg__pages,
.about_page__contents__left,
.about_page__contents__right,
.header__contents__left,
.header__contents__right,
.menu_header__contents__up,
.product_card_section__contents__head,
.header__contents__left__logo,
.header__contents__left__menu,
.header__contents__center__search,
.header__contents__right__menu,
.menu_header__contents__down__menu,
.product_card__up__product_img >img,
.header__contents__left__menu__btn,
.header__contents__center__search__input,
.header__contents__right__menu__btn,
.menu_header__contents__down__menu >li,
.header__contents__left__menu__btn >button,
.header__contents__center__search__btn >button {
  color: var(--primary-text-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
  background-color: var(--body-background-color);
}
.title_text {
  /* typography */
  --font-family: "NanumBarunGothic";
  --font-weight: 800;
  --font-size: 2rem;
  --font-size-smaller: calc(var(--font-size) * 0.9);
  --font-size-bigger: calc(var(--font-size) * 1.1);
  --line-height: 1.2;
}
#root, :root, .theme_light {
  --black: #000000;
  --red: #FC452C;
  --gray: #37474F;
}
.home_pg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.home_pg__contents {
    width: 100%;
    max-width: 1600px;
    border: 1px solid var(--red);
  }
.about_page {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  /* __contents end */
}
/* __contents start */
.about_page__contents{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1600px;
    border: 1px solid var(--red);
  }
.about_page__contents__left {
      width: 100%;

    }
.about_page__contents__right {
    }
.shop_page {
  width: 100%;
  max-width: 220px;
  border: 1px solid var(--red)
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0;
  padding: 0 0;

}
.header__contents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-width: 1600px;
    height: 85px;
    border: 1px solid var(--red);
    /* left end */
  }
/* left start */
.header__contents__left {
      display: flex;
      flex-direction: row;
    }
.header__contents__left__logo {
        width: 100px;
      }
.header__contents__left__menu {
        display:flex;
        flex-direction: row;
      }
.header__contents__left__menu__btn {
          border: 0px;
          margin: 0 10px;
        }
.header__contents__left__menu__btn >button {
            border: 0px;
            background-color: none;
          }
/* center start */
.header__contents__center__search {
        display: flex;
        flex-direction: row;
      }
.header__contents__center__search__input {
          width: 300px;
        }
.header__contents__center__search__btn >button {
            border: 0px;
            background-color: none;
          }
/* center end */
.header__contents__right {
      display: flex;
    }
.header__contents__right__menu {
        display: flex;
        flex-direction: row;
      }
.header__contents__right__menu__btn {
          margin-right: 10px;
        }
.footer {
  width: 100%;
  background-color: #e9e;
}
.menu_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px 0 10px 0;
  padding: 0 0;
}
.menu_header__contents {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 1600px;
    border: 1px solid;
    /* up end */
    /* down end */
  }
/* up start */
.menu_header__contents__up {
      height: 100px;
    }
/* down start */
.menu_header__contents__down__menu {
        display: flex;
        flex-direction: row;
      }
.menu_header__contents__down__menu >li {
          margin-left: 20px;
        }
.translang_container {
  display: block;

}
.product_card_section {
  display: block;
  width: 100%;
}
.product_card_section__contents {
    padding: 10px;
  }
.product_card_section__contents__head {
      display: flex;
      margin: 10px 0px 30px 0px;
    }
.product_card_slider {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.product_card {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  height: 450px;
  border: 1px solid var(--gray);
  padding: 10px;
  margin: 0px 20px 0px 0px;
}
.product_card:hover {
    cursor: pointer;
  }
.product_card__up__product_img >img{
        width: 230px;
        border-radius: 10px 10px 0px 10px;

      }
.product_card__down{

  }
.line4Design_pg {
  width:100%;
  max-width: 1920px;
  height: 100vh;
  margin: 0;
  font-family: NotoSans, Roboto, source-code-pro;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.line4Design_pg__pages{
    display: block;
    height: 100vh;
  }
:root, {
  display: block;
  height: 100vh;

    /* typography */
  --font-family: "NanumBarunGothic";
  --font-weight: 400;
  --font-size: 14px;
  --font-size-smaller: calc(var(--font-size) * 0.9);
  --font-size-bigger: calc(var(--font-size) * 1.1);
  --line-height: 1.2;
}
@media screen and (max-width: 768px) {}
