.Home_pg {
  color: var(--primary-text-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
  background-color: var(--body-background-color);
}
:root, .light-mode {}
.Home_pg {
  width: 100%;
  max-width: 1920px;
  height: 500px;
}
