/* TAILWIND FILE */
/* @tailwind base;
@tailwind components;

@tailwind utilities; */

/* STYLES DIR */
@import './styles/styles.pcss';

/* LINE4DESIGN CUSTOM PCSS FILE */

.line4Design-pg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid red;
  &__container {
    width: 100%;
    max-width: 1280px;
  }
}
