/* STYLES DIR */
@import './styles/styles.pcss';

/* TAILWIND FILE */
@tailwind base;
@tailwind components;

@tailwind utilities;

/* LINE4DESIGN CUSTOM PCSS FILE */

.line4Design_pg {
  width: 100%;
  max-width: 1920px;
}
