.about_page {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  /* __contents start */
  &__contents{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1920px;
    border: 1px solid var(--red);

    &__left {
      width: 100%;

    }
    &__right {
    }
  }
  /* __contents end */
}
