.title_text {
  /* typography */
  --font-family: "NanumBarunGothic";
  --font-weight: 800;
  --font-size: 2rem;
  --font-size-smaller: calc(var(--font-size) * 0.9);
  --font-size-bigger: calc(var(--font-size) * 1.1);
  --line-height: 1.2;
}
