.headline_1,
.headline_2,
.headline_3,
.headline_4,
.headline_5,
.headline_6,
.display,
.point,
.title,
.title_medium,
.title_one_line,
.title_bold,
.sub_title_bold,
.sub_title,
.sub_title_medium,
.sub_title_one_line,
.body_bold,
.body,
.point_sub_bold,
#root,
body,
html,
.languages_text,
.app_page,
.header,
.app_page__container,
.header__container,
.app_page__container__languages,
.header__container__center,
.header__container__right,
.app_page__container__languages__lang,
.header__container__center__menus,
.header__container__right__control {
  font-size: var(--font-size);
  font-family: var(--font-family);
}
/* STYLES DIR */
:root {
  /* Header Text style */
  --default-font-family: Spoqa Han Sans Neo;

  /* Headline 1 */
  --headline_1__font_style: normal;
  --headline_1__font_weight: normal;
  --headline_1__font-size: 90px;
  --headline_1__line-height: 113px;
  --headline_1__letter-spacing: -0.015em;
  /* --headline_1__color: var(--dark-dark-color); */

  /* Headline 2 */
  --headline_2__font-style: normal;
  --headline_2__font-weight: normal;
  /* --headline_2__font-size: 60px; */
  --headline_2__font-size: 50px;
  /* --headline_2__line-height: 75px; */
  --headline_2__line-height: 65px;
  --headline_2__display: flex;
  --headline_2__align-items: center;
  --headline_2__letter-spacing: -0.005em;
  /* --headline_2__color: var(--dark-dark-color); */

  /* Headline 3 */
  --headline_3__font-style: normal;
  --headline_3__font-weight: bold;
  --headline_3__font-size: 48px;
  --headline_3__line-height: 60px;
  /* --headline_3__color: var(--dark-dark-color); */

  /* Headline 4 */
  --headline_4__font-style: normal;
  --headline_4__font-weight: normal;
  --headline_4__font-size: 34px;
  --headline_4__line-height: 43px;
  --headline_4__letter-spacing: 0.00252em;
  /* --headline_4__color: var(--dark-dark-color); */

  /* Headline 5 */
  --headline_5__font-style: normal;
  --headline_5__font-weight: normal;
  --headline_5__font-size: 24px;
  --headline_5__line-height: 30px;
  /* --headline_5__color: var(--dark-dark-color); */

  /* Headline 6 */
  --headline_6__font-style: normal;
  --headline_6__font-weight: 500;
  --headline_6__font-size: 20px;
  --headline_6__line-height: 25px;
  --headline_6__letter-spacing: 0.0015em;
  /* --headline_6__color: var(--dark-dark-color); */

  /* Body Typography Style */

  /* Display */
  --display__font-style: normal;
  --display__font-weight: bold;
  --display__font-size: 36px;
  --display__line-height: 45px;
  --display__letter-spacing: -0.02em;
  /* --display__color: var(--dark-dark-color); */

  /* Point */
  --point__font-style: normal;
  --point__font-weight: bold;
  --point__font-size: 24px;
  --point__line-height: 30px;
  --point__letter-spacing: -0.02em;
  /* --point__color: var(--dark-dark-color); */

  /* Title One line [한줄용]  */
  --title_one_line__font-style: normal;
  --title_one_line__font-weight: normal;
  --title_one_line__font-size: 18px;
  --title_one_line__line-height: 23px;
  --title_one_line__letter-spacing: -0.02em;
  /* --title_one_line__color: var(--dark-dark-color); */

  /* Title Medium */
  --title_medium__font-style: normal;
  --title_medium__font-weight: 500;
  --title_medium__font-size: 18px;
  --title_medium__line-height: 23px;
  --title_medium__letter-spacing: -0.02em;
  /* --title_medium__color: var(--dark-dark-color); */

  /* Title Bold */
  --title_bold__font-style: normal;
  --title_bold__font-weight: bold;
  --title_bold__font-size: 18px;
  --title_bold__line-height: 26px;
  --title_bold__letter-spacing: -0.02em;
  /* --title_bold__color: var(--dark-dark-color); */

  /* Title basic */
  --tile__font-style: normal;
  --tile__font-weight: normal;
  --tile__font-size: 18px;
  --tile__line-height: 26px;
  --tile__letter-spacing: -0.02em;
  /* --tile__color: var(--dark-dark-color); */

  /* Sub Title One line [한줄용] */
  --sub_title_one_line__font-style: normal;
  --sub_title_one_line__font-weight: normal;
  --sub_title_one_line__font-size: 16px;
  --sub_title_one_line__line-height: 20px;
  --sub_title_one_line__text-transform: uppercase;
  /* --sub_title_one_line__color: var(--dark-dark-color); */

  /* Sub Title */
  --sub_title__font-style: normal;
  --sub_title__font-weight: normal;
  --sub_title__font-size: 16px;
  --sub_title__line-height: 24px;
  /* --sub_title__color: var(--dark-dark-color); */

  /* Sub Title medium */
  --sub_title_medium__font-style: normal;
  --sub_title_medium__font-weight: 500;
  --sub_title_medium__font-size: 16px;
  --sub_title_medium__line-height: 20px;
  --sub_title_medium__letter-spacing: 0.0015em;
  /* --sub_title_medium__color: var(--dark-dark-color); */

  /* Sub Title bold */
  --sub_title_bold__font-style: normal;
  --sub_title_bold__font-weight: bold;
  --sub_title_bold__font-size: 16px;
  --sub_title_bold__line-height: 20px;
  /* --sub_title_bold__color: var(--dark-dark-color); */

  /* Sub Body One line */
  --body_one_line__font-style: normal;
  --body_one_line__font-weight: normal;
  --body_one_line__font-size: 14px;
  --body_one_line__line-height: 18px;
  --body_one_line__letter-spacing: 0.005em;
  /* --body_one_line__color: var(--dark-dark-color); */

  /* Body */
  --body__font-family: Spoqa Han Sans Neo;
  --body__font-style: normal;
  --body__font-weight: normal;
  --body__font-size: 14px;
  --body__line-height: 18px;
  --body__letter-spacing: 0.005em;
  /* --body__color: var(--dark-dark-color); */

  /* Body Bold */
  --body_bold__font-style: normal;
  --body_bold__font-weight: bold;
  --body_bold__font-size: 14px;
  --body_bold__line-height: 18px;
  --body_bold__letter-spacing: -0.02em;
  /* --body_bold__color: var(--dark-dark-color); */

  /* message */
  --message__font-style: normal;
  --message__font-weight: normal;
  --message__font-size: 12px;
  --message__line-height: 18px;
  --message__letter-spacing: -0.02em;
  /* --message__color: var(--dark-dark-color); */

  /* message bold */
  --message_bold__font-style: normal;
  --message_bold__font-weight: bold;
  --message_bold__font-size: 12px;
  --message_bold__line-height: 18px;
  --message_bold__letter-spacing: -0.02em;
  /* --message_bold__color: var(--dark-dark-color);s */

  /* caption */
  --caption__font-style: normal;
  --caption__font-weight: normal;
  --caption__font-size: 12px;
  --caption__line-height: 15px;
  --caption__letter-spacing: 0.004em;
  /* --caption__color: #303030; */

  /* overline */
  --overline__font-style: normal;
  --overline__font-weight: normal;
  --overline__font-size: 10px;
  --overline__line-height: 13px;
  --overline__letter-spacing: 0.015em;
  /* --overline__color: #303030; */
}
.headline_1 {
  font-family: var(--default-font-family);
  font-style: var(--headline_1__font_style);
  font-weight: var(--headline_1__font_weight);
  font-size: var(--headline_1__font-size);
  line-height: var(--headline_1__line-height);
  letter-spacing: var(--headline_1__color);
}
.headline_2 {
  font-style: var(--headline_2__font-style);
  font-weight: var(--headline_2__font-weight);
  font-size: var(--headline_2__font-size);
  line-height: var(--headline_2__line-height);
  display: var(--headline_2__display);
  align-items: var(--headline_2__align-items);
  letter-spacing: var(--headline_2__letter-spacing);
}
.headline_3 {
  font-style: var(--headline_3__font-style);
  font-weight: var(--headline_3__font-weight);
  font-size: var(--headline_3__font-size);
  line-height: var(--headline_3__line-height);
}
.headline_4 {
  font-style: var(--headline_4__font-style);
  font-weight: var(--headline_4__font-weight);
  font-size: var(--headline_4__font-size);
  line-height: var(--headline_4__line-height);
  letter-spacing: var(--headline_4__letter-spacing);
}
.headline_5 {
  font-style: var(--headline_5__font-style);
  font-weight: var(--headline_5__font-weight);
  font-size: var(--headline_5__font-size);
  line-height: var(--headline_5__line-height);
}
.headline_6 {
  font-style: var(--headline_6__font-style);
  font-weight: var(--headline_6__font-weight);
  font-size: var(--headline_6__font-size);
  line-height: var(--headline_6__line-height);
  letter-spacing: var(--headline_6__letter-spacing);
}
.display {
  font-style: var(--display__font-style);
  font-weight: var(--display__font-weight);
  font-size: var(--display__font-size);
  line-height: var(--display__line-height);
  letter-spacing: var(--display__letter-spacing);
  color: var(--display__color);
}
.point {
  font-style: var(--point__font-style);
  font-weight: var(--point__font-weight);
  font-size: var(--point__font-size);
  line-height: var(--point__line-height);
  letter-spacing: var(--point__letter-spacing);
}
.title {
  font-style: var(--tile__font-style);
  font-weight: var(--tile__font-weight);
  font-size: var(--tile__font-size);
  line-height: var(--tile__line-height);
  letter-spacing: var(--tile__letter-spacing);
}
.title_medium {
  font-style: var(--title_medium__font-style);
  font-weight: var(--title_medium__font-weight);
  font-size: var(--title_medium__font-size);
  line-height: var(--title_medium__line-height);
  letter-spacing: var(--title_medium__letter-spacing);
}
.title_one_line {
  font-style: var(--title_one_line__font-style);
  font-weight: var(--title_one_line__font-weight);
  font-size: var(--title_one_line__font-size);
  line-height: var(--title_one_line__line-height);
  letter-spacing: var(--title_one_line__letter-spacing);
}
.title_bold {
  font-style: var(--title_bold__font-style);
  font-weight: var(--title_bold__font-weight);
  font-size: var(--title_bold__font-size);
  line-height: var(--title_bold__line-height);
  letter-spacing: var(--title_bold__letter-spacing);
}
.sub_title_bold {
  font-style: var(--sub_title_bold__font-style);
  font-weight: var(--sub_title_bold__font-weight);
  font-size: var(--sub_title_bold__font-size);
  line-height: var(--sub_title_bold__line-height);
}
.sub_title {
  font-style: var(--sub_title__font-style);
  font-weight: var(--sub_title__font-weight);
  font-size: var(--sub_title__font-size);
  line-height: var(--sub_title__line-height);
}
.sub_title_medium {
  font-style: var(--sub_title_medium__font-style);
  font-weight: var(--sub_title_medium__font-weight);
  font-size: var(--sub_title_medium__font-size);
  line-height: var(--sub_title_medium__line-height);
  letter-spacing: var(--sub_title_medium__letter-spacing);
}
.sub_title_one_line {
  font-style: var(--sub_title_one_line__font-style);
  font-weight: var(--sub_title_one_line__font-weight);
  font-size: var(--sub_title_one_line__font-size);
  line-height: var(--sub_title_one_line__line-height);
  text-transform: var(--sub_title_one_line__text-transform);
}
.body_bold {
  font-style: var(--body_bold__font-style);
  font-weight: var(--body_bold__font-weight);
  font-size: var(--body_bold__font-size);
  line-height: var(--body_bold__line-height);
  letter-spacing: var(--body_bold__letter-spacing);
}
.body {
  font-family: var(--body__font-family);
  font-style: var(--body__font-style);
  font-weight: var(--body__font-weight);
  font-size: var(--body__font-size);
  line-height: var(--body__line-height);
  letter-spacing: var(--body__letter-spacing);
}
.point_sub_bold {
  font-family: var(--body__font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.02em;
}
:root {
  /* typography */
  --default-font-family: Spoqa Han Sans Neo;
  --font-weight: normal;
  --font-size: 12px;

  /* page max-width  */
  --page-max-width: 1920px;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
body,
html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}
.languages_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0px 20px 0px 0px;
}
.app_page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  border: 1px solid red;
}
.app_page__container {
    display: flex;
    flex-direction: column;
  }
.app_page__container__languages {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 20px;
    }
.app_page__container__languages__lang {
        width: 100px;
        /* height: 20px; */
        border: 1px solid #7948b7;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: #7948b7;
        padding: 20px;
        margin-right: 10px;
        border-radius: 8px;
      }
.header {
  display: flex;
  flex-direction: row;

  width: 100%;
}
.header__container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
.header__container__center {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
.header__container__center__menus {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
.header__container__right {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
    }
.header__container__right__control {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
      }
