.title_xl,
.title_l,
.title_m,
.title_sm,
.title_s,
.subtitle,
.body_text,
.body_bold,
.small-text,
.botton_text,
.light-mode,
.dark-mode,
.topbar_pg,
.header,
.line4design-pg,
body,
html,
.topbar_pg__container,
.header__container,
.line4design-pg__container,
.topbar_pg__container__contact,
.topbar_pg__container__language,
.header__container__left,
.header__container__center,
.topbar_pg__container__contact svg,
.topbar_pg__container__contact .body_text,
.topbar_pg__container__language__viewlang,
.topbar_pg__container__language__select,
.header__container__center__menus,
.header__container__right > ul,
.topbar_pg__container__language__viewlang .body_bold,
.topbar_pg__container__language__viewlang > svg {
    font-size: var(--font-size);
    font-family: var(--font-family);
}
/* STYLES DIR */
.mouse_over:hover {
    cursor: pointer;
  }
:root,
.light-mode {
  --background-topbar-color: var(--light-topbar-dark-color);
  --background-header-color: var(--light-);
}
:root,
dark-mode {
}
/* SemiBold Start */
.title_xl {
  /* title_36/42 */
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.06em;
}
.title_l {
  /* title_26/36 */
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.title_m {
  /* title_22/30 */
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.06em;
}
.title_sm {
  /* title_16/24 */
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  /* line-height: 24px; */
  letter-spacing: 0.06em;
}
.title_s {
  /* title_14/22 */
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* line-height: 22px; */
  letter-spacing: 0.06em;
}
.subtitle {
  /* subtitle 12/18 */
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  /* line-height: 18px; */
  letter-spacing: 0.06em;
}
/* SemiBold End */
/* ------------------------ */
/* Regular Start */
.body_text {
  /* body 14\22 */
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* line-height: 22px; */
}
/* Regular End */
/* ------------------------ */
/* Bold Start */
.body_bold {
  font-family: Spartan;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  /* line-height: 22px; */
}
/* Bold End */
/* ------------------------ */
/* Medium Start*/
.small-text {
  /* small-11/18 */
  font-family: Spartan;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  /* line-height: 18px; */
}
.botton_text {
  font-family: Spartan;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  /* line-height: 15px; */
  letter-spacing: 0.06em;
}
/* Medium End */
.light-mode {
  /* background color */
  --light-topbar-dark-color: #121212;
  --light-header-white: #ffffff;

  /* typography */
  --light-text-black-color: #121212;
  --light-text-white-color: #ffffff;

  /* line */
  --light-line-light-gray-color: #e5e5e5;
}
.dark-mode {
}
.topbar_pg {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  width: 100%;
  background-color: var(--background-topbar-color);
  /* __container end */
}
.topbar_pg__container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    width: 100%;
    max-width: var(--page-max-width);
    height: 40px;
    padding: 0px 70px 0px 20px;
    /* __language end */
  }
.topbar_pg__container__contact {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
              flex-direction: row;
      -webkit-align-items: center;
              align-items: center;
    }
.topbar_pg__container__contact svg {
        margin: 0px 10px 0px 0px;
      }
.topbar_pg__container__contact .body_text {
        color: var(--light-text-white-color);
      }
/* __contact end */
.topbar_pg__container__language {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
              flex-direction: column;
      position: relative;
      left: 0;
      top: 0;
    }
.topbar_pg__container__language__viewlang {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-align-items: center;
                align-items: center;
      }
.topbar_pg__container__language__viewlang .body_bold {
          color: var(--light-text-white-color);
        }
.topbar_pg__container__language__viewlang > svg {
          margin: 0px 10px 0px 0px;
        }
.topbar_pg__container__language__select {
        width: -webkit-max-content;
        width: max-content;
        background-color: #ffffff;
        border: 1px solid var(--light-line-light-gray-color);
        position: absolute;
        top: 35px;
        right: 0;
        /* --row end */
      }
.topbar_pg__container__language__select--row {
          /* display: flex;
          flex-direction: column;
          justify-content: center; */
          height: 30px;
          padding: 0px 10px 0px 10px;
          border-bottom: 1px solid var(--light-line-light-gray-color);
        }
.topbar_pg__container__language__select--row:last-child {
            border-bottom: none;
          }
.topbar_pg__container__language__select--row .body_bold {
            color: var(--light-text-black-color);
            text-align: center;
          }
@media screen and (max-width: 768px) {
  .topbar_pg {
  }
}
.header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  width: 100%;
  background-color: var(--background-header-color);
  border-bottom: 1px solid var(--light-line-light-gray-color);
}
.header__container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    width: 100%;
    max-width: var(--page-max-width);
    padding: 20px 70px 20px 20px;
  }
.header__container__left {
    }
.header__container__center {
      width: 40%;
    }
.header__container__center__menus {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-align-items: center;
                align-items: center;
        -webkit-justify-content: space-between;
                justify-content: space-between;
        width: 100%;
      }
.header__container__right > ul {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
                flex-direction: row;
      }
/* LINE4DESIGN CUSTOM PCSS FILE */
.line4design-pg {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  width: 100%;
}
.line4design-pg__container {
  }
:root {
  /* typography */
  --font-family: Spartan;
  --font-weight: normal;
  --font-size: 12px;

  /* page max-width  */
  --page-max-width: 1920px;
}
body,
html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}
