.product_card_slider {
  display: flex;
  flex-direction: row;
}

.product_card {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  height: 450px;
  border: 1px solid var(--red);
  padding: 10px;
  &:hover {
    cursor: pointer;
  }

  &__up {

  }

  &__down{

  }



}
