.side_menu_bar {
  display:flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;


  &__contents {
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 400px;
    border: 1px solid #000;
    &__nav {
      &__row {

        &__submenu {
          padding: 0px 0px 0px 20px;
        }

        &__btn {
          width: 100%;
          max-width: 150px;
        }


      }
    }

    &__filters {
      margin: 50px 0px 0px 0px;
    }
  }
}
