.side_menu_bar {
  display:flex;
  flex-direction: column;
  width:100%;


  &__contents {

    &__nav {
      &__row {

        &__submenu {
          padding: 0px 0px 0px 20px;
        }

        &__btn {
          width: 100%;
          max-width: 150px;
        }


      }
    }

    &__filters {
      margin: 50px 0px 0px 0px;

    }
  }
}
